
.vs/ASPNETReactStarterKit/config/applicationhost.config
ASPNETReactStarterKit/bin/Debug/netcoreapp3.1/appsettings.Development.json
ASPNETReactStarterKit/bin/Debug/netcoreapp3.1/appsettings.json
ASPNETReactStarterKit/bin/Debug/netcoreapp3.1/ASPNETReactStarterKit.deps.json
ASPNETReactStarterKit/bin/Debug/netcoreapp3.1/ASPNETReactStarterKit.dll
ASPNETReactStarterKit/bin/Debug/netcoreapp3.1/ASPNETReactStarterKit.exe
ASPNETReactStarterKit/bin/Debug/netcoreapp3.1/ASPNETReactStarterKit.pdb
ASPNETReactStarterKit/bin/Debug/netcoreapp3.1/ASPNETReactStarterKit.runtimeconfig.dev.json
ASPNETReactStarterKit/bin/Debug/netcoreapp3.1/ASPNETReactStarterKit.runtimeconfig.json
ASPNETReactStarterKit/bin/Debug/netcoreapp3.1/ASPNETReactStarterKit.Views.dll
ASPNETReactStarterKit/bin/Debug/netcoreapp3.1/ASPNETReactStarterKit.Views.pdb
ASPNETReactStarterKit/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/ASPNETReactStarterKit.csproj.CopyComplete
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/ASPNETReactStarterKit.csproj.CoreCompileInputs.cache
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/ASPNETReactStarterKit.csproj.FileListAbsolute.txt
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/ASPNETReactStarterKit.dll
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/ASPNETReactStarterKit.exe
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/ASPNETReactStarterKit.genruntimeconfig.cache
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/ASPNETReactStarterKit.MvcApplicationPartsAssemblyInfo.cache
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/ASPNETReactStarterKit.pdb
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/ASPNETReactStarterKit.RazorCoreGenerate.cache
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/ASPNETReactStarterKit.RazorTargetAssemblyInfo.cache
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/ASPNETReactStarterKit.RazorTargetAssemblyInfo.cs
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/ASPNETReactStarterKit.TagHelpers.input.cache
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/ASPNETReactStarterKit.TagHelpers.output.cache
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/ASPNETReactStarterKit.Views.dll
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/ASPNETReactStarterKit.Views.pdb
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/staticwebassets/ASPNETReactStarterKit.StaticWebAssets.Manifest.cache
ASPNETReactStarterKit/obj/Debug/netcoreapp3.1/staticwebassets/ASPNETReactStarterKit.StaticWebAssets.xml
ASPNETReactStarterKit/node_modules/worker-farm/tests/debug.js
ASPNETReactStarterKit/node_modules/worker-farm/tests/index.js
ASPNETReactStarterKit/node_modules/wrap-ansi/index.js
ASPNETReactStarterKit/node_modules/wrap-ansi/license
ASPNETReactStarterKit/node_modules/wrap-ansi/node_modules/is-fullwidth-code-point/index.js
ASPNETReactStarterKit/node_modules/wrap-ansi/node_modules/is-fullwidth-code-point/license
ASPNETReactStarterKit/node_modules/wrap-ansi/node_modules/is-fullwidth-code-point/package.json
ASPNETReactStarterKit/node_modules/wrap-ansi/node_modules/is-fullwidth-code-point/readme.md
ASPNETReactStarterKit/node_modules/wrap-ansi/node_modules/string-width/index.js
ASPNETReactStarterKit/node_modules/wrap-ansi/node_modules/string-width/license
ASPNETReactStarterKit/node_modules/wrap-ansi/node_modules/string-width/package.json
ASPNETReactStarterKit/node_modules/wrap-ansi/node_modules/string-width/readme.md
ASPNETReactStarterKit/node_modules/wrap-ansi/package.json
ASPNETReactStarterKit/node_modules/wrap-ansi/readme.md
ASPNETReactStarterKit/node_modules/wrappy/LICENSE
ASPNETReactStarterKit/node_modules/wrappy/package.json
ASPNETReactStarterKit/node_modules/wrappy/README.md
ASPNETReactStarterKit/node_modules/wrappy/wrappy.js
ASPNETReactStarterKit/node_modules/ws/browser.js
ASPNETReactStarterKit/node_modules/ws/index.js
ASPNETReactStarterKit/node_modules/ws/lib/buffer-util.js
ASPNETReactStarterKit/node_modules/ws/lib/constants.js
ASPNETReactStarterKit/node_modules/ws/lib/event-target.js
ASPNETReactStarterKit/node_modules/ws/lib/extension.js
ASPNETReactStarterKit/node_modules/ws/lib/permessage-deflate.js
ASPNETReactStarterKit/node_modules/ws/lib/receiver.js
ASPNETReactStarterKit/node_modules/ws/lib/sender.js
ASPNETReactStarterKit/node_modules/ws/lib/validation.js
ASPNETReactStarterKit/node_modules/ws/lib/websocket-server.js
ASPNETReactStarterKit/node_modules/ws/lib/websocket.js
ASPNETReactStarterKit/node_modules/ws/LICENSE
ASPNETReactStarterKit/node_modules/ws/package.json
ASPNETReactStarterKit/node_modules/ws/README.md
ASPNETReactStarterKit/node_modules/xtend/.jshintrc
ASPNETReactStarterKit/node_modules/xtend/immutable.js
ASPNETReactStarterKit/node_modules/xtend/LICENSE
ASPNETReactStarterKit/node_modules/xtend/mutable.js
ASPNETReactStarterKit/node_modules/xtend/package.json
ASPNETReactStarterKit/node_modules/xtend/README.md
/ASPNETReactStarterKit/node_modules
